# {{ ansible_managed }}
[server]
hostname = {{ rhsm_server_hostname }}
prefix = {{ rhsm_server_prefix }}
port = {{ rhsm_rhsm_port }}
insecure = {{ rhsm_insecure | int }}
ssl_verify_depth = {{ rhsm_ssl_verify_depth }}
{% if rhsm_rhsm_proxy_hostname is defined %}
proxy_hostname = {{ rhsm_rhsm_proxy_hostname }}
{% endif %}
{% if rhsm_rhsm_proxy_port is defined %}
proxy_port = {{ rhsm_rhsm_proxy_port }}
{% endif %}
{% if rhsm_rhsm_proxy_user is defined %}
proxy_user = {{ rhsm_rhsm_proxy_user }}
{% endif %}
{% if rhsm_rhsm_proxy_password is defined %}
proxy_password = {{ rhsm_rhsm_proxy_password }}
{% endif %}

[rhsm]
baseurl = {{ rhsm_baseurl }}
ca_cert_dir = {{ rhsm_ca_cert_dir }}
repo_ca_cert = {{ rhsm_repo_ca_cert }}
productCertDir = {{ rhsm_product_cert_dir }}
entitlementCertDir = {{ rhsm_entitlement_cert_dir }}
consumerCertDir = {{ rhsm_consumer_cert_dir }}
manage_repos = {{ rhsm_manage_repos | int }}
full_refresh_on_yum = {{ rhsm_full_refresh_on_yum | int }}
report_package_profile = {{ rhsm_report_package_profile | int }}
pluginDir = {{ rhsm_plugin_dir }}
pluginConfDir = {{ rhsm_plugin_conf_dir }}

[rhsmcertd]
certCheckInterval = {{ rhsm_cert_check_interval }}
autoAttachInterval = {{ rhsm_auto_attach_interval }}

[logging]
default_log_level = {{ rhsm_logging.default }}
{% if rhsm_logging.subscription_manager is defined %}
subscription_manager = {{ rhsm_logging.subscription_manager }}
{% endif %}
{% if rhsm_logging.subscription_manager_managercli is defined %}
subscription_manager.managercli = {{ rhsm_logging.subscription_manager_managercli }}
{% endif %}
{% if rhsm_logging.rhsm is defined %}
rhsm = {{ rhsm_logging.rhsm }}
{% endif %}
{% if rhsm_logging.rhsm_connection is defined %}
rhsm.connection = {{ rhsm_logging.rhsm_connection }}
{% endif %}
{% if rhsm_logging.rhsm_app is defined %}
rhsm-app = {{ rhsm_logging.rhsm_app }}
{% endif %}
{% if rhsm_logging.rhsm_app_rhsmd is defined %}
rhsm-app.rhsmd = {{ rhsm_logging.rhsm_app_rhsmd }}
{% endif %}
